body {
    background-color: rgb(226, 226, 226);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: white;
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    background-color: white;
    border: solid 0px black;
}

#footer {
    background-color: rgb(196, 196, 196);
    position: fixed;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
}