body {
    background-color: rgb(226, 226, 226);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: roboto;
}

#header {
    padding: 5% 0px 0px 0px;
    font-weight: 600;
    font-size: 10vw;
}

#main-section {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 18px;
}

#buttons {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

button {
    background-color: white;
}

#grid-options {
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0px;
}

#container {
    background-color: white;
    width: 60vh;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    background-color: white;
    border: solid 0px black;
}

#footer {
    background-color: rgb(196, 196, 196);
    width: 100%;
    padding: 1em 0px;
    text-align: center;
}